<div class="logos">
    <div class="logos-slide">
      <img src="assets/img/brand/01.png"/>
      <img src="assets/img/brand/02.png" />
      <img src="assets/img/brand/03.png" />
      <img src="assets/img/brand/04.png" />
      <img src="assets/img/brand/05.png" />
      <img src="assets/img/brand/06.png" />
      <img src="assets/img/brand/01.png"/>
      <img src="assets/img/brand/02.png" />
      <img src="assets/img/brand/03.png" />
      <img src="assets/img/brand/04.png" />
      <img src="assets/img/brand/05.png" />
      <img src="assets/img/brand/06.png" />
    </div>
  </div>
  <script>
    var copy = document.querySelector(".logos-slide").cloneNode(true);
    document.querySelector(".logos").appendChild(copy);
  </script>