
<main class="main">
  <div class="content">
    <app-navbar></app-navbar>
    <app-services></app-services>
    <app-portfolio></app-portfolio>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <app-portfolio-2></app-portfolio-2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <app-brand-slider ></app-brand-slider>
    <app-work-process></app-work-process>
    <app-testimonials></app-testimonials>
  </div>
</main>



<router-outlet />
